extends layout

block content
    a(href='/user/' + id + '/shoes') Back
    h1 #{shoe.brand} #{shoe.model} #{shoe.colorway}
    p Current Price: $#{shoe.current_price}
    p Purchase Price: $#{purchase}
    p Difference: $#{diff}
    p Retail Price: $#{shoe.retail_price}
    p Size: #{shoe.size}
